@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

[data-theme="andtheme"] {
    --color-primary: #3D5B4B;
    --color-secondary: #FFAA00;
}

body{
    @apply font-[poppins];
}

.text-title{
    @apply font-bold text-primary;
}

.text-gray{
    @apply text-[#6D6D6D];
}

.card-title{
    @apply text-primary;
}

.section{
    @apply py-10 lg:py-20 flex flex-col gap-10;
}

.page-section{
    @apply min-h-screen flex flex-col items-center justify-center px-0 lg:px-40 pt-30 lg:py-48;
}

.card{
    @apply bg-[#F4F4F4] shadow-sm shadow-primary/50;
}

.button-hover{
    @apply transition duration-300 hover:scale-105 hover:shadow-lg will-change-transform cursor-pointer;
}

.navbar-item-hover{
    @apply relative after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:h-[2px] after:w-0 after:bg-primary after:transition-all after:duration-300 after:-translate-x-1/2 hover:after:w-full

}

.navbar-item-active{
    @apply text-primary font-semibold relative after:content-[''] after:absolute after:bottom-0 after:h-[2px] after:w-full after:bg-primary transition-all duration-300 ease-in-out will-change-transform
}

@layer utilities {
    @keyframes glow {
        0%, 100% {
            box-shadow: 0 0 20px var(--color-primary);
        }
        50% {
            box-shadow: 0 0 40px var(--color-secondary);
        }
    }

    .animate-glow {
        animation: glow 2s ease-in-out infinite;
    }
}


